.form-control:focus{
    color: black !important;
}

.form-control{
    color:black !important;
}

::selection {
    color: black !important;
    background: #14bdee !important;
  }

.theme{
    color : #14bdee;
}
.shadow {
    box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important
   }

.active-pg{
    background-color: #14bdee;
    color: #384158;
}
.border-left-primary {
    border-left:.5rem solid #14bdee !important
   }
   .border-left-secondary {
    border-left:.5rem solid #858796!important
   }
   .border-left-success {
    border-left:.5rem solid #1cc88a!important
   }
   .border-left-danger{
    border-left:.5rem solid red!important
   }
   .text-primary{
       color: #14bdee;
   }