.form-control:focus{
    color: black !important;
}

.form-control{
    color:black !important;
}

::selection {
    color: black !important;
    background: #14bdee !important;
  }

.theme{
    color : #14bdee;
}
.shadow {
    box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important
   }