{% extends './base.html' %}
{% load static %}

	
  {% block content %}

{% load crispy_forms_tags %}

<br><br><br><br><br><br>
<div class="row">


    <div class="col-md-4 mx-auto">


        <div class="card">


            <div class="card-body">

            <h3 class="card-title text-center">Signup Student</h3>
            <hr>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ base|crispy }}
                    {{student_form|crispy}}

                    <input type="submit" value="Submit" class = "btn btn-primary btn-block">

                </form>
            </div>

        </div>


    </div>


</div>
<br><br><br><br>
{% endblock content %}