{% extends 'classroom/base.html' %}



{% block body_block %}



<div class="card-body" style="margin-top:100px;">
    <div class="row">

        
        <div class="col-md-3   p-3">
        
            <h3>Chapters {% if user.is_teacher and user.teacher.subject.pk == subject_id  %}<a
                    href="{% url 'classroom:chapter_create' %}" class="btn float-right"><i
                        class="fas fa-2x fa-plus-square"></i></a>{% endif %} </h3>
            <hr>
            <ul class="list-group">







                {% for chapter in chapters %}
                <li class="list-group-item"> <a class="btn {% if chapter.pk == chapter_id %}btn-primary{% endif %}"
                        href={% url 'classroom:content_page_yes'  subject=subject_id chapter=chapter.pk %}>{{chapter.chapter_number}}.
                        {{chapter.chapter_title}}
                    </a>


                    {% if user.is_teacher and user.teacher.subject.pk == subject_id  %}
                    <a data-toggle="modal" data-target="#{{chapter.id}}"><i
                            class="fas fa-2x text-danger fa-trash float-right"></i></a>
                    {% endif %}

                </li>

                    <!-- Button trigger modal -->
                    {% comment %} <button type="button" class="btn btn-primary" >
                    Launch demo modal
                    </button> {% endcomment %}

                    <!-- Modal -->
                    <div class="modal fade" id="{{chapter.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>Do you really want to delete chapter "{{chapter.chapter_title}}"?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a  href="{% url 'classroom:chapter_delete' chapter_id=chapter.pk %}"> 
                            <button type="button" class="btn btn-danger">Delete</button> </a>
                        </div>
                        </div>
                    </div>
                    </div>

                {% endfor %}
            </ul>
        </div>

        <div class="col p-5 overflow-auto">
            <button class="btn btn-danger" onclick="goBack()">Back</button>


            <h1> {{chapter_name}} {% if user.is_teacher and user.teacher.subject.pk == subject_id and chapter_id %} <a
                    href="{% url 'classroom:content_create' course_id=subject_id chapter_id=chapter_id %}"
                    class="btn btn-primary float-right">Add Content</a>
                {% endif %}</h1>
            <hr>

            {% for content in contents %}
            <div class="card my-3">
                <div class="card-body">

                    <h3 class="card-title">{{content.topic}}

                    </h3>

                    {% if content.content_paragraph %}

                    {% autoescape on %}
                    {{content.content_paragraph|safe}}


                    {% endautoescape %}


                    {% elif  content.content_image %}



                    <img src="{{content.content_image.url}}" class="img-fluid" width=700>
                    12


                    {% elif content.content_video %}


                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls>

                            <source src="{{content.content_video.url}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>



                    {% endif %}

                </div>
            </div>
            {%empty%}
            <h1 class="m-5 p-5">Please select a chapter or your teacher hasn't updated any content here yet.</h1>
            {% endfor %}

            <nav aria-label="...">
                <ul class="pagination">{% if page.has_previous %}
                    <li class="page-item ">
                        <a class="page-link"
                            href="{% url 'classroom:content_page_paged' subject=subject_id chapter=chapter_id page=page.previous_page_number %}"
                            tabindex="-1">Previous</a>
                    </li>
                    {% endif %}
                    {% if  page.has_next %}
                    <li class="page-item">
                        <a class="page-link "
                            href="{% url 'classroom:content_page_paged' subject=subject_id chapter=chapter_id page=page.next_page_number %}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>





        </div>

    </div>
</div>

{% endblock body_block %}