{% extends 'classroom/base.html' %}

{% block body_block %}


<br><br><br><br><br>
<div class="card mx-5">

    <div class="card-body">


        <h3 class="card-title">Manage Students</h3>

        <hr>

        <ul class="list-group">

            {% for std in students %}
            <li class="list-group-item"> <h4>{{std.roll_no}}.  {{std.user.username}}</h4>




                <a href="{% url 'classroom:user_delete' user_id=std.user.pk %}" class="btn mx-3 float-right btn-danger">Delete</a>
                <a href="{% url 'classroom:user_toggle' user_id=std.user.pk %}" class="btn mx-3 float-right btn-warning">

                    {% if std.user.is_active %}
                    Deactive

                    {% else %}

                    Active
                    {% endif %}



                </a>
                <a href="{% url 'classroom:update_student' pk=std.pk%} " class="btn mx-3 float-right btn-primary">Update</a>



            </li>
            {% endfor %}

        </ul>


    </div>

</div>

{% endblock body_block %}