{% extends 'classroom/base.html' %}



{% block body_block %}

<div class="card-body">
    <div class="row">


        <div class="col-md-3 sticky-top sidebar p-3">
            <h3>Subjects</h3>
            <hr>
            <ul class="list-group my-5">


                {% for subject  in subjects %}

                <li class="list-group-item"><a href= "{% url 'classroom:content_page_no' subject=subject.pk %}">{{subject.course_name}}</a></li>

                {% endfor %}


            </ul>

            <h3>External Contents</h3>
            <hr>
            <ul class="list-group">




                <li class="list-group-item">Coming Soon</li>




            </ul>
        </div>

        <div class="col p-5 overflow-auto">


            <h1>Iskul for All !</h1>
            <hr>


            <div class="card">




                <div class="card-body">



                    <p class="lead">


                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reprehenderit mollitia facere vel
                        quo natus explicabo cum impedit molestiae esse rem sint, iste minima repudiandae? Blanditiis
                        tempore culpa iure earum?
                        Hic, magni nemo totam assumenda asperiores est quibusdam odio placeat eum autem nam, obcaecati
                        vel saepe impedit modi. Quisquam facilis sit hic dolores exercitationem cupiditate laboriosam id
                        labore assumenda veniam?
                        Possimus ducimus aliquam placeat voluptatibus sint commodi laudantium fugiat, in debitis
                        consequatur mollitia modi quam et provident nam odio perspiciatis odit veniam incidunt,
                        obcaecati eaque distinctio alias officiis. Aspernatur, modi.
                        Cupiditate veritatis repudiandae, praesentium at neque quae nostrum assumenda labore non.
                        Impedit dolor quidem necessitatibus fuga accusantium inventore. Quo exercitationem veritatis
                        quos sint ab ut impedit perspiciatis possimus corrupti temporibus?
                        Neque numquam totam laudantium reiciendis accusamus repellat mollitia vel cumque, obcaecati
                        dolorem assumenda. Quibusdam quam magnam est nam iusto labore nisi dolore dolor doloribus
                        voluptas, cupiditate dicta distinctio, pariatur voluptates?
                        Ex consectetur eveniet dolor iusto eaque! Voluptate eaque consequuntur porro ipsa quo numquam
                        voluptas inventore suscipit quam accusantium possimus molestiae, corporis explicabo? Quas
                        aliquam assumenda esse numquam facilis ex tempora.
                        Autem porro eos velit id dolorem facilis placeat dolor vero libero expedita delectus ipsam
                        praesentium consequuntur eligendi esse, repellat cumque harum, quasi consectetur pariatur
                        officiis in? Velit, itaque adipisci. Ipsa.
                        Aspernatur, repellat qui, atque accusamus quidem nesciunt quod nam officia deserunt recusandae
                        assumenda quisquam repellendus tempora dolore! Assumenda, quod veritatis voluptatum beatae
                        molestiae magnam maiores, iste reiciendis odit, velit iusto!
                        Sed libero excepturi magni, quibusdam labore impedit! Sint, vel iste delectus adipisci
                        asperiores soluta, saepe a enim cupiditate officiis temporibus eum commodi! Blanditiis nihil
                        autem necessitatibus, corrupti architecto repellendus commodi!
                        Quibusdam sit nisi praesentium sint fuga ut provident impedit, exercitationem voluptate optio
                        veniam amet consequatur nostrum veritatis! Animi voluptatem vel adipisci commodi placeat, quo
                        ipsam amet vitae, excepturi, asperiores deleniti.
                        Veniam iure non, veritatis voluptatem assumenda facere rem, fugit vitae vel, hic adipisci. Quo
                        ipsa impedit consectetur nulla a, placeat possimus fugit aperiam ducimus, illum, harum
                        praesentium et amet ab!
                        Dolores, animi iusto! Totam sequi perspiciatis non delectus ad, voluptatum animi ut deserunt
                        tempora, quidem iure corporis unde ipsa in, quod vitae consequatur commodi nihil iusto maiores
                        odit sint alias?
                        Dolores, voluptate illum. Eveniet officia, maxime ut modi incidunt nesciunt iusto voluptatum
                        architecto! Omnis, saepe impedit consectetur facere est, pariatur veniam non sint nesciunt atque
                        architecto totam sapiente eos dolor.
                        Fugit blanditiis doloremque sunt amet repellendus expedita incidunt corporis libero dicta quasi!
                        Sed adipisci tenetur aut est ab excepturi dolorum architecto animi rem in quia, sit similique
                        eveniet non molestiae.
                        Ullam esse earum veniam provident a sequi aliquid mollitia iure dolor culpa tenetur, error
                        eveniet ex atque fuga quia cumque! Fuga eaque sed expedita molestiae ullam, ratione eos quam
                        natus?

                    </p>


                </div>

            </div>




        </div>

    </div>
</div>

{% endblock body_block %}