{% extends 'base.html' %}
{% load static %}

	
  {% block content %}

	<!-- Courses -->

	<div class="courses">
		<div class="container">
			<div class="row">

					<div class="courses_container">
						<div class="row courses_row">
							
							div class="col-lg-4">
					<div class="sidebar">

						<!-- Categories -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Categories</div>
							<div class="sidebar_categories">
								<ul>
									<li><a href="#">Art & Design</a></li>
									<li><a href="#">Business</a></li>
									<li><a href="#">IT & Software</a></li>
									<li><a href="#">Languages</a></li>
									<li><a href="#">Programming</a></li>
								</ul>
							</div>
						</div>
						</div>
					</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	

		
  {% endblock content %}