{% extends 'classroom/base.html' %}

{% block body_block %}

<br><br><br><br><br><br>
<div class="row">

    <div class="container ">

    <a href="{% url 'discussions:add_question'%}" class="btn btn-primary btn-lg">Add Question</a>


        <form class="form-inline my-2 my-lg-0 float-right" method="GET">
            <input class="form-control mr-sm-2" type="search" name="search_query" placeholder="Search"
                aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>


    </div>


    <div class="col-8 mx-auto">

        {% for question in questions %}


        <div class="card card-body my-5">




            <h3 class="card-title">
                {{question.question_title}}

                <span class="float-right">{{question.subject.course_name}}</span>


            </h3>

            <hr>

            <pre>{{question.question_content}}</pre>

            <hr>

            <div>

                Asked By : {{question.posted_by.username}} - {{question.posted_at}}

                <div class="float-right"> <a href="{% url 'discussions:question' pk=question.pk %}"
                        class="btn btn-primary">Discuss</a> </div>
            </div>


        </div>

        {% endfor %}
        <nav aria-label="Page navigation example" class="mx-auto">
            <ul class="pagination">
                <li class="page-item {% if not page.has_previous %}disabled{% endif %}"><a class="page-link" href="?page={{page.number|add:"-1"}}">Previous</a></li>
                <li class="page-item {% if not page.has_next %}disabled{% endif %}"><a class="page-link" href="?page={{page.number|add:"1"}}">Next</a></li>
            </ul>
        </nav>

    </div>


</div>



{% endblock body_block %}