{% extends 'classroom/base.html' %}


{% block body_block %}
<div class="container mt-5">


    <div class="card card-body my-5">




        <h3 class="card-title">
            {{question.question_title}}

            <span class="float-right">{{question.subject.course_name}}</span>


        </h3>

        <hr>

        <pre>{{question.question_content}}</pre>

        <hr>

        <div>

            Asked By : {{question.posted_by.username}} - {{question.posted_at}}

            <div class="float-right"> </div>
        </div>


    </div>

    <h2 class="text-center mb-3">Answers</h2>


    <a href="{% url 'discussions:answer' pk=question.pk %}" class="btn btn-primary">Answer</a>


    {% for answer in question.answer_set.all %}
    
    
    
    

    <div class="card my-3">

        <div class="card-body">

        <h5>{{answer.posted_by.username}}</h5>
        <hr>

        <pre>{{answer.answer}} </pre>

        </div>
    </div>

    {% endfor %}

</div>
{% endblock body_block %}